# Compiled Object files
*.slo
*.lo
*.o
main

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backups
*~

# Standart Inputs Examples
#in

# Java Binaries
*.class

# For the Arena TopCoder Applet
ContestAppletProd.jnlp